<%= render "admin/genres/list", genres:@genres %>

<main>
    
<div class="container">
  <div class="row">
    <div class="title col-8 mt-5 mb-5">
      <h5><span class="bg-light"><%= @customer.last_name %>さんの会員情報</span></h5>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
</div>
</main>