// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-box {
    font-size: 25px;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
}

.item-list-image {
    width: 100%;
    height: 200px;
}

.item-list-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-price {
    font-size: 25px;
}