// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group {
    margin-left: 20%;
}

.width-list {
    width: 350px;
}

.title {
    margin-left: 10%;
}