<%= render "public/homes/list", homes:@homes %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center", style="margin-top: 230px;" >
            <h4><strong>ご注文ありがとうございました！</strong></h4>
        </div>
    </div>
</div>
