<%= render "public/homes/list", homes:@homes %>

<div class="container">
  <div class="row">
    <div class="title col-8 mt-5 mb-3">
      <h5><span class="title-bg-color px-3">注文情報入力</span></h5>
    </div>
  </div>
  
  <div class="row">
      <div class="col-12">
          <h5><strong>支払方法</strong></h5>
          
      </div>
  </div>
  
  
  
</div>